.gradient-background {
  background: rgb(90, 116, 183);
  background: linear-gradient(
    90deg,
    rgba(90, 116, 183, 1) 0%,
    rgba(178, 220, 221, 1) 25%,
    rgba(142, 106, 171, 1) 50%,
    rgba(252, 194, 90, 1) 75%,
    rgba(216, 116, 168, 1) 100%
  );
}

.button-white {
  background-color: white;
  padding: 13px 50px;
  color: black;
}
