.navigation{
    left: 0;
    right: 0;
    top: 40px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 9999;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
}

html{
    scroll-behavior: smooth;
}
