section.intro .image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  margin-top: -100px;
}

@media screen and (min-width: 768px) {
  section.intro .image-stack {
    margin-top: -150px;
  }
}
@media screen and (min-width: 1024px) {
  section.intro .image-stack {
    margin-top: -200px;
  }
}
@media screen and (min-width: 1200px) {
  section.intro .image-stack {
    margin-top: -250px;
  }
}

section.intro .image-stack__item--one,
section.intro .image-stack__item--two,
section.intro .image-stack__item--three {
  border-radius: 40px;
}

section.intro .image-stack__item--one {
  grid-column: 8 / span 5;
  grid-row: 1;
  z-index: 1;
}

section.intro .image-stack__item--two {
  grid-column: 1 / span 9;
  grid-row: 1;
  margin-top: 20%;
}

section.intro .image-stack__item--three {
  grid-column: 5 / span 6;
  grid-row: 1;
  margin-top: 90%;
  z-index: 5;
}
